/*! CSS Used from: https://ts.dunlap.ai/sites/default/files/css/css_xE-rWrJf-fncB6ztZfd2huxqgxu4WO-qwma6Xer30m4.css ; media=all */
@media all {
  img {
    border: 0;
  }
}
/*! CSS Used from: https://ts.dunlap.ai/sites/default/files/css/css_2dvPdM13BWEwJPE3r-XCAeh6ofBtpw5tOJlgL3uREd4.css ; media=all */
@media all {
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  a:hover {
    cursor: pointer;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  img {
    -ms-interpolation-mode: bicubic;
  }
  img {
    display: inline-block;
    vertical-align: middle;
  }
}
/*! CSS Used from: https://ts.dunlap.ai/sites/default/files/css/css_8P7MBej6Y0wSxbqfbWayyKnsvDZTZP_oLL3pyuctPHE.css ; media=all */
@media all {
  a {
    background-color: transparent;
  }
  a:active,
  a:hover {
    outline: 0;
  }
  img {
    border: 0;
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  a:hover {
    cursor: pointer;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  img {
    -ms-interpolation-mode: bicubic;
  }
  img {
    display: inline-block;
    vertical-align: middle;
  }
  [class*="block-grid-"] {
    display: block;
    padding: 0;
    margin: 0 -0.46875rem;
  }
  [class*="block-grid-"]:before,
  [class*="block-grid-"]:after {
    content: " ";
    display: table;
  }
  [class*="block-grid-"]:after {
    clear: both;
  }
  [class*="block-grid-"] > li {
    display: block;
    float: left;
    height: auto;
    padding: 0 0.46875rem 0.9375rem;
  }
  .row {
    margin: 0 auto;
    max-width: 73.75rem;
    width: 100%;
  }
  .row:before,
  .row:after {
    content: " ";
    display: table;
  }
  .row:after {
    clear: both;
  }
  .column {
    padding-left: 0.46875rem;
    padding-right: 0.46875rem;
    width: 100%;
    float: left;
  }
  .column + .column:last-child {
    float: right;
  }
  ::-webkit-input-placeholder {
    color: #666666;
  }
  :-moz-placeholder {
    color: #666666;
  }
  ::-moz-placeholder {
    color: #666666;
  }
  :-ms-input-placeholder {
    color: #666666;
  }
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }
  .block {
    margin-bottom: 25px;
  }
  a {
    text-decoration: none;
    color: #bf5700;
  }
  a:hover {
    color: #a04400;
    text-decoration: underline;
  }
  .hiddenText {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
  }
  @media only screen {
    .small-block-grid-2 > li {
      list-style: none;
      width: 50%;
    }
    .small-block-grid-2 > li:nth-of-type(1n) {
      clear: none;
    }
    .small-block-grid-2 > li:nth-of-type(2n + 1) {
      clear: both;
    }
    .column {
      position: relative;
      padding-left: 0.46875rem;
      padding-right: 0.46875rem;
      float: left;
    }
    .small-12 {
      width: 100%;
    }
  }
  @media only screen and (min-width: 40.063em) {
    .column {
      position: relative;
      padding-left: 0.46875rem;
      padding-right: 0.46875rem;
      float: left;
    }
    .medium-4 {
      width: 33.3333333333%;
    }
    .block {
      margin-bottom: 40px;
    }
  }
  @media only screen and (min-width: 64.063em) {
    .column {
      position: relative;
      padding-left: 0.46875rem;
      padding-right: 0.46875rem;
      float: left;
    }
    .container {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  a:hover {
    cursor: pointer;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  img {
    -ms-interpolation-mode: bicubic;
  }
  img {
    display: inline-block;
    vertical-align: middle;
  }
  .container-footer {
    padding-top: 25px;
    border-top: 1px solid #ebe8e2;
  }
  .container-footer .connect-links {
    list-style: none;
    margin-top: 0;
    margin-bottom: 1.0625rem;
    margin-left: -1.375rem;
    margin-right: 0;
    overflow: hidden;
    padding: 0;
    margin-left: -0.625rem;
    margin-bottom: 0;
    font-size: 2.5rem;
  }
  .container-footer .helpful-links {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
  }
  .container-footer .helpful-link-item {
    margin-bottom: 30px;
    padding-bottom: 0;
  }
  .container-footer .helpful-link {
    font-size: 0.75rem;
    line-height: 0.9375rem;
    color: #2d2a28;
    padding-right: 10px;
    text-decoration: none;
  }
  .container-footer .helpful-link:hover {
    text-decoration: underline;
  }
  .container-footer .copyright {
    text-align: center;
    font-size: 0.6875rem;
    font-style: italic;
    margin: 0 0 25px 0;
    color: #2d2a28;
  }
  .footer-theme2 {
    padding: 25px 5px 0 5px;
    border-top: 1px solid #ebe8e2;
    background-color: #f8f8f8;
  }
  .footer-theme2 .footer-primary .footer-logo a img {
    max-height: 60px;
    margin-bottom: 5px;
  }
  .footer-theme2 .footer-secondary {
    padding-left: 10%;
    padding-right: 10%;
    text-transform: uppercase;
    font-size: 0.8125rem;
    font-weight: 600;
  }
  .footer-theme2 .footer-secondary .helpful-links {
    margin-top: 3px;
  }
  .footer-theme2 .footer-secondary .helpful-links a {
    color: #2d2a28;
  }
  .footer-theme2 .footer-secondary ul li {
    list-style-type: none;
    margin-bottom: 20px;
  }
  .footer-theme2 .footer-secondary ul {
    padding-left: 0;
  }
  .footer-theme2 .footer-secondary ul li a {
    color: black;
  }
  .footer-theme2 .connect-links {
    list-style: none;
    margin-top: 0;
    margin-bottom: 1.0625rem;
    margin-left: -1.375rem;
    margin-right: 0;
    overflow: hidden;
    padding: 0;
    margin-left: -0.625rem;
    margin-bottom: 0;
    font-size: 2.25rem;
  }
  .footer-theme2 .helpful-links {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
  }
  .footer-theme2 .helpful-link-item {
    margin-bottom: 30px;
    padding-bottom: 0;
  }
  .footer-theme2 .helpful-link {
    font-size: 0.875rem;
    line-height: 0.9375rem;
    color: #2d2a28;
    padding-right: 10px;
    text-decoration: none;
  }
  .footer-theme2 .helpful-link:hover {
    text-decoration: underline;
  }
  .footer-theme2 .copyright {
    font-size: 0.75rem;
  }
  @media only screen and (min-width: 40.063em) {
    .container-footer {
      padding-top: 45px;
    }
    .container-footer .footer-primary {
      border-right: 1px solid #cbcbcb;
      padding-right: 40px;
    }
    .container-footer .footer-secondary {
      padding-left: 32px;
    }
    .container-footer .helpful-link-item {
      margin-bottom: 15px;
    }
    .container-footer .helpful-link {
      font-size: 0.875rem;
      line-height: 1rem;
    }
    .container-footer .copyright {
      font-size: 0.875rem;
      margin-top: 10px;
    }
    .footer-theme2 {
      padding: 45px 10px 0 10px;
    }
    .footer-theme2 .footer-primary {
      border-right: none;
      padding-right: 30px;
    }
    .footer-theme2 .footer-secondary {
      border-left: 1px solid #cbcbcb;
      border-right: 1px solid #cbcbcb;
      padding-left: 15%;
      padding-right: 15%;
    }
    .footer-theme2 .footer-tertiary {
      padding-left: 32px;
    }
    .footer-theme2 .footer-tertiary .helpful-link-item {
      padding: 0 5px;
    }
    .footer-theme2 .helpful-link-item {
      margin-bottom: 15px;
    }
    .footer-theme2 .helpful-link {
      font-size: 0.875rem;
      line-height: 1rem;
    }
    .footer-theme2 .copyright {
      font-size: 0.875rem;
      margin-top: 20px;
      text-align: left !important;
      margin-left: 6px;
    }
  }
  @media only screen and (max-width: 40em) {
    .container-footer .connect,
    .container-footer .footer-secondary {
      border-bottom: 1px solid #a1a1a1;
      padding: 0 0 18px 0;
      margin: 0 0 18px 0;
    }
    .footer-theme2 .connect,
    .footer-theme2 .footer-secondary {
      border-bottom: 1px solid #a1a1a1;
      padding: 0 0 18px 0;
      margin: 0 0 18px 0;
    }
  }
}
